body { 
  font-family: sans-serif; 
  margin: 20px; 
}
  error { color: red; font-weight: bold; }
.contenedor {
  display: flex;
  flex-wrap: wrap;          
  gap: 20px;
  justify-content: center; 
}
.contenedor-item {
  flex: 1 1 400px;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}

.contenedor-text {
color:#333;
}

.test li {
  word-wrap: break-word;      
  overflow-wrap: break-word; 
  white-space: normal;
}

.title-container {
  display: flex;
  justify-content: center; 
  align-items: center;        
  margin-bottom: 20px;
  gap: 15px;             
}

.title {
  padding-top: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
}

.title-especies {
  padding-top: 40px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
}

#link-proto {     
  margin-top: 20px;
  text-decoration: none;
  color: #013a5b;
  font-size: 1rem;
  font-weight: 600;
  background-color: #b2e5ff;
  padding: 6px 15px;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.18s, color 0.18s;
}

#link-proto:hover {
  background: #013a5b;
  color: #b2e5ff;
}

.swiper {
  width: 600px;
  height: auto;
  margin: 20px auto;
  border-radius: 12px;
}

.swiper-slide img {
  max-width: 400px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.swiper-slide h2{
  text-align: center;
}

.btn-file {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  background: linear-gradient(90deg, #e5e5ff 60%, #d5f0ff 100%);
  color: #000000;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(120,120,160,.10);
  cursor: pointer;
  transition: background 0.22s, color 0.15s;
  font-size: 1.07rem;
  margin-bottom: 18px;
  margin-right: 10px;
  position: relative;
}
.btn-file:hover,
.btn-file:focus {
  background: linear-gradient(90deg, #343473 60%, #9cc7e8 100%);
  color: #e4f4ff;
}

.btn-file input[type="file"] {
  position: absolute;
  left: 0; top: 0;
  opacity: 0;
  width: 100%; height: 100%;
  cursor: pointer;
}

.file-name {
  margin-left: 5px;
  display: block;
  font-size: 0.98rem;
  color: #53557A;
  background: #F6F8FC;
  border-radius: 4px;
  padding: 5px 10px;
  min-height: 20px;
  transition: color 0.18s;
}

.btn-submit {
  padding: 13px 30px;
  background: linear-gradient(90deg, #e5e5ff 60%, #d5f0ff 100%);
  color: #000000;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(120,120,160,.10);
  cursor: pointer;
  transition: background 0.22s, color 0.15s;
  font-size: 1.07rem;
}
.btn-submit:hover,
.btn-submit:focus {
  background: linear-gradient(90deg, #343473 60%, #9cc7e8 100%);
  color: #e4f4ff;
}

/* Modal */
#modalPDF {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modalPDF .modal-content-PDF {
    position: relative;
    width: 80%;
    height: 80%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#modalPDF button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: white;
    border: none;
    cursor: pointer;
}

#modalPDF iframe {
    width: 100%;
    height: 100%;
    border: none;
}


#loader-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loader-container.active {
    display: flex;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-text {
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-content {
  background: white;
  padding: 20px 24px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  text-align: left;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 12px;
}
